<!DOCTYPE html>
<html>
<head>
	<title>RoleGame</title>
	<meta charset="utf-8">


	<!-- BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


	<!-- AJAXHOZ KELL JQUERY IMPORT -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>



</head>

<style>
	/*
.wrapper{
	display: flex;
    width: 100%;
    align-items: stretch;
	background-image:  url("static/images/blank_profile_image.png");
}

*/

</style>
<body>
	<div class="wrapper">
		<!-- SIDEBAR -->
		{% include 'sidebar.html' %}

		<!-- PAGE CONTENT --> 
		<!--<div class="container-fluid">-->

			{% block content %}

			{% endblock %}

		<!--</div>-->
	</div>
	<!-- BOOTSTRAP JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>



</html>