{% extends 'base_new.html' %}

{% load static %}

{% block content %}
<style>

body {
	font-family: 'Kanit', sans-serif;
	font-size: 1.2em;
	overflow: hidden;
	user-select: none;
}


#arena-content-page {
	background: none;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	max-width: 1900px;

}


#arena-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 18%;
}

/* --- title */
#arena-title-left{
	width: 14%;
	height: 100%;
}

#arena-title-center{
	width: 72%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fae455;

}


#arena-title-center h1{
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.2em;
	border-radius: 10px;
	min-width: 200px;
}

#arena-title-right{
	width: 14%;
	height: 100%;
}


#main-page-button {
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 100%;
	height: 100%;

}

#main-page-button img{
	max-width: 90%;
	max-height: 90%;

}

.go-to-main-page:hover {
	cursor: pointer;
}



.go-to-main-page:active {
	/*content:url("{% static 'images/previous-button-purple.png' %}");*/
}

/* --- */


#arena-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60%;
}

#arena-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 22%;
}

/* ELLENFÉL VÁLASZTÓ */
#opponent-choice {
	display: flex;
	flex-direction: row;
	gap: 10%;
	align-items: top;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.option-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 30%;
	border: 6px solid transparent;
	/*border-image: url("{% static 'images/button-back.png' %}") 30 stretch;	*/
}


.option-container:hover{
	cursor: pointer;
	border: 6px solid transparent;
	/*border-image: url("{% static 'images/button-back-red.png' %}") 30 stretch;*/
}


.option-character{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


.option-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.8);
}

.option-character-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;


	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ARENA HARC */
#fight-with-opponent {
	display: none;
	width: 100%;
	height: 100%;

}

.opponent-side{
	display: flex;
	flex-direction: column;
	gap: 4%;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.opponent-character{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48%;
	height: 54%;
	background: none;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	border: 8px solid transparent;
	/*border-image: url("{% static 'images/goldborder.png' %}") 10% round;*/
	transition: box-shadow 0.4s;
}

.opponent-detail{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 48%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 4px solid #fae455;
	border-radius: 20px;
}

.opponent-detail-left{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.opponent-detail-right{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.attribute-values-in-arena {
	display: flex; 
    justify-content: center;
	align-items: center;
	color: white;
	height: 20%;
	width: 100%;
}

.attribute-name{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 60%;
	height: 100%;

}

.attribute-value{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 100%;
}

.character-health-bar-container{
    text-align: center;
    background-color: black;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
}

.health-bar {
    background-color: red;
    height: 100%;
    width: 100%; /* ez "csökkenti" az életerőt */
}

.health-bar-percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1em;
    color:white;
}

.character-top-name {
	position: absolute;
	top: -1.7vh;
	width: 80%;
	height: 12%;
	background-color: yellow;
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.character-top-name h4{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	color: black;

}

.fight-tool {
	position: absolute;
	display: flex;
	align-items: center;
	height: 140%;
	width: 140%;
}

.fight-tool-image{
	opacity: 0;
	visibility: hidden;
	max-width: 40%;
	max-height: 40%;
}

#left-tool{
	justify-content: flex-end;
}

#right-tool{
	justify-content: flex-start;
}

#left-tool-image{
    transition: transform 0.2s linear;
   	transform: rotate(10deg);
}

#right-tool-image{
    transition: transform 0.2s linear;
   	transform: rotate(-10deg);
}


/* a jobb oldalon a választott player adatait jelenítjuk meg */
/*
#player2-left {
	display: none;
}

#player2-right {
	display: none;
}
*/

#left-character-detail{
	display: none;

}

#right-character-detail{
	display: none;
}

/* felugró ablak css */
.cover {
	display: none; 
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed; 
    background-color: rgba(175, 174, 174, 0.2); 
	z-index: 2;

}

.result-message-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20%;
	width: 20%;
	background-color: white;
	background: none;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

#result-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80%;
}


#result-message{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60%;
}

#gained-honor-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40%;
	gap: 10%;
}

#gained-honor-image{
	display: flex;
	align-items: top;
	justify-content: flex-end;
	height: 100%;
	width: 50%;
}

#gained-honor-text{
	display: flex;
	align-items: top;
	justify-content: flex-start;
	height: 100%;
	width: 50%;
	font-size: 1.4em;
}

#gained-honor-arena-image{
	max-width: 80%;
	max-height: 80%;
}

#result-button-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20%;
}



#result-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 80%;
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-family: 'Kanit', sans-serif;
	font-size: 1em;
	font-weight: bold;
}



#result-button:hover {
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fae455;
	cursor: pointer;
}



/* ------- */

#skip-button-container{
	display: none;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 80%;
}

#skip-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 20%;
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#skip-button:hover {
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fae455;
	cursor: pointer;
}


.loader-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}



</style>
<div id="arena-content-page">
	<div id="arena-header">
		<div id="arena-title-left">
			<div id="main-page-button">
				<img src="{% static 'images/previous-button.png' %}" alt="Vissza" class="go-to-main-page" onmouseover="changeColor(this)" onmouseout="resetColor(this)">
			</div>
		</div>
		<div id="arena-title-center">
			<h1>Ajánlott ellenfelek</h1>
		</div>
		<div id="arena-title-right">	
		</div>
	</div>
	<div id="arena-container">
		<!-- Ellenfél választás -->
		<div id="opponent-choice">
			<div class="option-container" id="option-left">
				<div class="option-character" id="option-left-character">
					<div class="option-character-name">{{left_character}}</div>
				</div>
				<div class="option-description" id="option-left-description">
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Erő</div>
						<div class="attrbiute-value">{{left_character.strength}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Ügyesség</div>
						<div class="attrbiute-value">{{left_character.skill}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Értelem</div>
						<div class="attrbiute-value">{{left_character.intelligence}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Kitartás</div>
						<div class="attrbiute-value">{{left_character.health_point}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Szerencse</div>
						<div class="attrbiute-value">{{left_character.fortune}}</div>
					</div>
				</div>
			</div>
			<div class="option-container" id="option-right">
				<div class="option-character" id="option-right-character">
					<div class="option-character-name">{{right_character}}</div>
				</div>
				<div class="option-description" id="option-right-description">
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Erő</div>
						<div class="attrbiute-value">{{right_character.strength}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Ügyesség</div>
						<div class="attrbiute-value">{{right_character.skill}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Értelem</div>
						<div class="attrbiute-value">{{right_character.intelligence}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Kitartás</div>
						<div class="attrbiute-value">{{right_character.health_point}}</div>
					</div>
					<div class="attribute-values-in-arena">
						<div class="attribute-name">Szerencse</div>
						<div class="attrbiute-value">{{right_character.fortune}}</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Kiválasztott ellenfél elleni harc -->
		<div id="fight-with-opponent">
			<div class="opponent-side" id="left-character-side">
				<div class="opponent-character" id="left-character">					
					<div class="character-top-name">
						<h4 id="player-name">{{current_character}}</h4>
					</div>	
					<div class="fight-tool" id="left-tool"><img src="{% static 'images/sword-2.png' %}" alt="harci-eszkoz" class="fight-tool-image" id="left-tool-image"></div>
					<div class="character-health-bar-container">
						<div class="health-bar" id="right-character-health-bar">
							<p class="health-bar-percentage" id="player1-percentage">100%</p>
						</div>
					</div>
				</div>
				<div class="opponent-detail" id="left-detail">
					<div class="opponent-detail-left" id="role-picture">

					</div>
					<div class="opponent-detail-right" id="character-attrs">
						<div class="attribute-values-in-arena">
							<div class="attribute-name">Erő</div>
							<div class="attrbiute-value">{{current_character.strength}}</div>
						</div>
						<div class="attribute-values-in-arena">
							<div class="attribute-name">Ügyesség</div>
							<div class="attrbiute-value">{{current_character.skill}}</div>
						</div>
						<div class="attribute-values-in-arena">
							<div class="attribute-name">Értelem</div>
							<div class="attrbiute-value">{{current_character.intelligence}}</div>
						</div>
						<div class="attribute-values-in-arena">
							<div class="attribute-name">Kitartás</div>
							<div class="attrbiute-value">{{current_character.health_point}}</div>
						</div>
						<div class="attribute-values-in-arena">
							<div class="attribute-name">Szerencse</div>
							<div class="attrbiute-value">{{current_character.fortune}}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="opponent-side" id="right-character-side">

				<!-- Ezek közül mindig csak a választott karakter jelenik meg -->
				<div class="opponent-character" id="right-character">
					<div class="character-top-name" id="player2-left">
						<h4 id="player-name">{{left_character}}</h4>
					</div>
					<div class="character-top-name" id="player2-right">
						<h4 id="player-name">{{right_character}}</h4>
					</div>


					<div class="fight-tool" id="right-tool"><img src="{% static 'images/sword-2.png' %}" alt="harci-eszkoz" class="fight-tool-image" id="right-tool-image"></div>

					<div class="character-health-bar-container">
						<div class="health-bar" id="right-character-health-bar">
							<p class="health-bar-percentage" id="player2-percentage">100%</p>
						</div>
					</div>
				</div>

				<div class="opponent-detail" id="right-detail">
					<div class="opponent-detail-left" id="role-picture">

					</div>
					{% if is_user_to_attack %}
						<div class="opponent-detail-right" id="character-attrs">
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Erő</div>
								<div class="attrbiute-value">{{user_to_attack.strength}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Ügyesség</div>
								<div class="attrbiute-value">{{user_to_attack.skill}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Értelem</div>
								<div class="attrbiute-value">{{user_to_attack.intelligence}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Kitartás</div>
								<div class="attrbiute-value">{{user_to_attack.health_point}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Szerencse</div>
								<div class="attrbiute-value">{{user_to_attack.fortune}}</div>
							</div>
						</div>
					{% else %}
						<div class="opponent-detail-right" id="left-character-detail">
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Erő</div>
								<div class="attrbiute-value">{{left_character.strength}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Ügyesség</div>
								<div class="attrbiute-value">{{left_character.skill}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Értelem</div>
								<div class="attrbiute-value">{{left_character.intelligence}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Kitartás</div>
								<div class="attrbiute-value">{{left_character.health_point}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Szerencse</div>
								<div class="attrbiute-value">{{left_character.fortune}}</div>
							</div>
						</div>
						<div class="opponent-detail-right" id="right-character-detail">
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Erő</div>
								<div class="attrbiute-value">{{right_character.strength}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Ügyesség</div>
								<div class="attrbiute-value">{{right_character.skill}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Értelem</div>
								<div class="attrbiute-value">{{right_character.intelligence}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Kitartás</div>
								<div class="attrbiute-value">{{right_character.health_point}}</div>
							</div>
							<div class="attribute-values-in-arena">
								<div class="attribute-name">Szerencse</div>
								<div class="attrbiute-value">{{right_character.fortune}}</div>
							</div>
						</div>
					{% endif %}					
				</div>
			</div>
		</div>		
	</div>
	<div id="arena-footer">
		<div id="skip-button-container">
			<div id="skip-button">Kihagyás</div>	
		</div>
	</div>
</div>

<div class="loader-container">
	
</div>

<div class="cover">
	 	<div class="result-message-container">
			<div id="result-text">
				<div id="result-message">Vége a meccsnek</div>
				<div id="gained-honor-container">
					<div id="gained-honor-image">
						<img src="{% static 'images/badge.png' %}" alt="becsuletpont" id="gained-honor-arena-image">
					</div>
					<div id="gained-honor-text">...</div>
				</div>
			</div>
			<div id="result-button-container">
				<div id="result-button">Rendben</div>		
			</div>

	 	</div>
	</div>


<script>

	//production
	$("#arena-content-page").css("background-image", "url('{% static 'images/arena-background.jpg' %}')".replace(/&amp;/g, "&"));

	$(".option-container #option-left").css("border-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"))

	$(".option-container #option-left" ).css("border-image-repeat", "stretch")
	$(".option-container #option-left").css("border-image-slice", "30%")


	$(".option-container #option-right").css("border-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"))

	$(".option-container #option-right" ).css("border-image-repeat", "stretch")
	$(".option-container #option-right").css("border-image-slice", "30%")

	$(".option-container #option-left").hover(function() {
	    $(".option-container #option-left").css("border-image", "url('{% static 'images/button-back-red.png' %}')".replace(/&amp;/g, "&"))
	  },
	  function() {
	    $(".option-container #option-left").css("border-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));
	  }
	)

	$(".option-container #option-right").hover(function() {
	    $(".option-container #option-right").css("border-image", "url('{% static 'images/button-back-red.png' %}')".replace(/&amp;/g, "&"))
	  },
	  function() {
	    $(".option-container #option-right").css("border-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));
	  }
	)

	$(".option-character-name").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));

	$(".opponent-character").css("background-image", "url('{% static 'images/blank_profile_image.png' %}')".replace(/&amp;/g, "&"));
	$(".opponent-character").css("border-image", "url('{% static 'images/goldborder.png' %}')".replace(/&amp;/g, "&"))

	$(".opponent-character").css("border-image-repeat", "round")
	$(".opponent-character").css("border-image-slice", "10%")



	$(".character-top-name").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));

	$(".result-message-container").css("background-image", "url('{% static 'images/paper-old.jpg' %}')".replace(/&amp;/g, "&"));

	$("#result-button").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"))

	$("#result-button").hover(function() {
	    $("#result-button").css("background-image", "url('{% static 'images/button-back-red.png' %}')".replace(/&amp;/g, "&"))
	  },
	  function() {
	    $("#result-button").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));
	  }
	)

	$("#skip-button").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"))

	$("#skip-button").hover(function() {
	    $("#skip-button").css("background-image", "url('{% static 'images/button-back-red.png' %}')".replace(/&amp;/g, "&"))
	  },
	  function() {
	    $("#skip-button").css("background-image", "url('{% static 'images/button-back.png' %}')".replace(/&amp;/g, "&"));
	  }
	)




	//


	const audio = new Audio()
	audio.src = "{% static 'audios/button_click.mp3' %}".replace(/&amp;/g, "&")

	const attackerSound = new Audio()
	attackerSound.src = "{% static 'audios/fight1.mp3' %}".replace(/&amp;/g, "&")

	const defenderSound = new Audio()
	defenderSound.src = "{% static 'audios/fight1.mp3' %}".replace(/&amp;/g, "&")


	function changeColor(imageElement){
		imageElement.setAttribute("src", "{% static 'images/previous-button-red.png' %}".replace(/&amp;/g, "&"))
	}

	function resetColor(imageElement){
		imageElement.setAttribute("src", "{% static 'images/previous-button.png' %}".replace(/&amp;/g, "&"))
	}



	$(".go-to-main-page").click(function(){
    	audio.play()

    	setTimeout(function(){
	    	try {

				var url = "{% url 'home_page' %}"
				var win = window.location.replace(url) 
				win.focus()
			}
			catch(error){
				console.log(error)
			}

    	}, 200)
    	$(".loader-container").fadeIn("fast")
	})


	function loadEnemyPicturesOnStart(){
		$("#option-left-character").css("background-image", "url('{{left_character_profile_image}}')".replace(/&amp;/g, "&"))
		$("#option-right-character").css("background-image", "url('{{right_character_profile_image}}')".replace(/&amp;/g, "&"))
		
	}





	$(window).on("load", function(){
		$(".loader-container").fadeOut("slow")
		loadEnemyPicturesOnStart()

	})





    $("#result-button").click(function () {
    	audio.play()
		$(".cover").css("display", "none")
			setTimeout(function(){
				try {
					var url = "{% url 'game:arena' %}"
					var win = window.location.replace(url) 
					win.focus()
				}
				catch(error){
					console.log(error)
				}

		}, 100) // hogy lehessen hallani a hangot
    })






	function setBackgroundToDescription(){
		{% if current_character.character_type == "warrior" %}
			$("#left-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
			attackerSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
			$("#left-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
		{% elif current_character.character_type == "mage" %}
			$("#left-detail #role-picture").css("background-image", "url('{% static 'images/wizard.png' %}')".replace(/&amp;/g, "&"))
			attackerSound.src = "{% static 'audios/mage-attack.mp3' %}".replace(/&amp;/g, "&")
			$("#left-tool-image").attr("src", "{% static 'images/wand-2.png' %}".replace(/&amp;/g, "&"))
		{% elif current_character.character_type == "scout" %}	
			$("#left-detail #role-picture").css("background-image", "url('{% static 'images/archer.png' %}')".replace(/&amp;/g, "&"))
			attackerSound.src = "{% static 'audios/scout-attack.mp3' %}".replace(/&amp;/g, "&")
			$("#left-tool-image").attr("src", "{% static 'images/bow-2.png' %}".replace(/&amp;/g, "&"))
		{% else %}
			$("#left-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
			attackerSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
			$("#left-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
		{% endif %}

	}







	$("#skip-button").on("click", function(){
		audio.play()
		clearTimeout(attackTimeout)
		clearTimeout(defTimeout)
		clearTimeout(attackTimeoutSecond)
		showFinalHealthBars()
		showEndingMessage()
	})

	var opponent = null
	var opponentID = null

	var attackerHealthValues = null
	var defenderHealthValues = null
	var attackerHealthValuesLength = null; 
	var defenderHealthValuesLength = null
	var winner = null // ebbe lesz a csata nyertese



	$(document).ready(function() {
		{% if is_user_to_attack %}
			var anotherPlayer = "{{user_to_attack}}"
			console.log(anotherPlayer)
			opponent = anotherPlayer
			opponentID = "{{user_to_attack_id}}"
			switchToFightScreen(false, true)
		{% else %}
			console.log("yeyno")
		{% endif%}
	});




	$("#option-left").click(function() {
		opponent = "{{left_character}}"
		opponentID = "{{left_character_id}}"
		$("#right-character").css("background-image", "url('{{left_character_profile_image}}')".replace(/&amp;/g, "&"));

		$(".loader-container").fadeIn("fast")
		//console.log(opponentID)
		audio.play()
		setTimeout(function(){
			switchToFightScreen(true, false)
		}, 300)

	})
	$("#option-right").click(function() {
		opponent = "{{right_character}}"
		opponentID = "{{right_character_id}}"
		$("#right-character").css("background-image", "url('{{right_character_profile_image}}')".replace(/&amp;/g, "&"));
		//console.log(opponentID)
		$(".loader-container").fadeIn("fast")
		audio.play()
		setTimeout(function () {
			switchToFightScreen(false, false)
		}, 300)

	})


	function switchToFightScreen(showLeftPlayer, anotherPlayer){
		$(".loader-container").fadeOut("slow")
		$("#arena-title-center h1").html("Aréna")
		$("#main-page-button").css("visibility", "hidden")

		setBackgroundToDescription() //csak a current userhez
		document.getElementById("opponent-choice").style.display = "none"
		document.getElementById("fight-with-opponent").style.display = "flex"

		$("#skip-button-container").css("display", "flex")

		$("#left-character").css("background-image", "url('{{current_character_profile_image}}')".replace(/&amp;/g, "&"));

		if (anotherPlayer){
			$("#player2-right #player-name").html(opponent)


			$("#right-character").css("background-image", "url('{{user_to_attack_profile_image}}')".replace(/&amp;/g, "&"));
			$("#player2-right").css("display", "block")
			$("#right-character-detail").css("display", "flex")
			$("#player2-left").css("display", "none")
			{% if user_to_attack.character_type == "warrior" %}
				$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
				defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
				$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
			{% elif user_to_attack.character_type == "mage" %}
				$("#right-detail #role-picture").css("background-image", "url('{% static 'images/wizard.png' %}')".replace(/&amp;/g, "&"))
				defenderSound.src = "{% static 'audios/mage-attack.mp3' %}".replace(/&amp;/g, "&")
				$("#right-tool-image").attr("src", "{% static 'images/wand-2.png' %}".replace(/&amp;/g, "&"))
			{% elif user_to_attack.character_type == "scout" %}		
				$("#right-detail #role-picture").css("background-image", "url('{% static 'images/archer.png' %}')".replace(/&amp;/g, "&"))
				defenderSound.src = "{% static 'audios/scout-attack.mp3' %}".replace(/&amp;/g, "&")
				$("#right-tool-image").attr("src", "{% static 'images/bow-2.png' %}".replace(/&amp;/g, "&"))
			{% else %}
				$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
				defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
				$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
			{% endif %}

		}
		else {

			//document.getElementById("left-character-side").innerHTML = "{{current_character}}"
			if (showLeftPlayer){
				$("#player2-left").css("display", "block")
				$("#left-character-detail").css("display", "flex")
				$("#player2-right").css("display", "none")
				{% if left_character.character_type == "warrior" %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
				{% elif left_character.character_type == "mage" %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/wizard.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/mage-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/wand-2.png' %}".replace(/&amp;/g, "&"))
				{% elif left_character.character_type == "scout" %}		
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/archer.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/scout-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/bow-2.png' %}".replace(/&amp;/g, "&"))
				{% else %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
				{% endif %}
			}
			else {
				$("#player2-right").css("display", "block")
				$("#right-character-detail").css("display", "flex")
				$("#player2-left").css("display", "none")
				{% if right_character.character_type == "warrior" %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
				{% elif right_character.character_type == "mage" %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/wizard.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/mage-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/wand-2.png' %}".replace(/&amp;/g, "&"))
				{% elif right_character.character_type == "scout" %}		
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/archer.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/scout-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/bow-2.png' %}".replace(/&amp;/g, "&"))
				{% else %}
					$("#right-detail #role-picture").css("background-image", "url('{% static 'images/swordsman.png' %}')".replace(/&amp;/g, "&"))
					defenderSound.src = "{% static 'audios/warrior-attack.mp3' %}".replace(/&amp;/g, "&")
					$("#right-tool-image").attr("src", "{% static 'images/sword-2.png' %}".replace(/&amp;/g, "&"))
				{% endif %}
			}


		}

	
		$(".loader-container").fadeOut("slow")

		simulateFight()
	}


	var gainedHonor = null
	var lostHonor = null

	function simulateFight(){
		console.log("fight")
		info_packet = {
			"attacker_user_id": "{{current_character_id}}",
			"defender_user_id": opponentID
		}
		$.ajax({

			dataType: "json",
			url: "{% url 'game:arena_fight' %}",
			data: info_packet,

			success: function(data) {
				console.log('attacker_health_values')
				console.log(data.attacker_health_values)
				console.log('defender_health_values')
				console.log(data.defender_health_values)
				attackerHealthValues = data.attacker_health_values
				defenderHealthValues = data.defender_health_values
				attackerHealthValuesLength = attackerHealthValues.length
				defenderHealthValuesLength = defenderHealthValues.length
				// kiszedjuk a winnert egy globalis valtozoba
				winner = data.user_win
				gainedHonor = data.gained_honor_points
				lostHonor = data.lost_honor_points
				simulateDefenderHealthBar();    
				attackTimeoutSecond = setTimeout(simulateAttackerHealthBar, 1000)
			},
			error: function(data) {
				console.log('ERROR')
			},
		})
	}

// HEALTH BAR PART //
var bars = $(".health-bar");

function showFinalHealthBars(){
	console.log("showing")
	var defenderFirstHealthValue = defenderHealthValues[0]
	var defenderLastHealthValue = defenderHealthValues[defenderHealthValuesLength-1]
	var attackerFirstHealthValue = attackerHealthValues[0]
	var attackerLastHealthValue = attackerHealthValues[attackerHealthValuesLength-1]

	var attackerFinalPercent = Math.round((attackerLastHealthValue / attackerFirstHealthValue) * 100)
    var defenderFinalPercent = Math.round((defenderLastHealthValue / defenderFirstHealthValue) * 100)
    //console.log("deffinal " + defenderFinalPercent)
    //console.log("attackfinal" + attackerFinalPercent)


	bars.eq(0).finish()
	bars.eq(1).finish()
    bars.eq(0).css("width", attackerFinalPercent +"%") 
    document.getElementById("player1-percentage").innerHTML = attackerFinalPercent + "%";

	bars.eq(1).css("width", defenderFinalPercent +"%")
    document.getElementById("player2-percentage").innerHTML = defenderFinalPercent + "%";

}



// var array = [3000, 2000, 1500, 500, 30]; ---> attackerHealthValues
var defenderHealthPercent = 100;
var attackerHealthPercent = 100;



var indexDefender = 0;
var indexAttacker = 0;



var defenderFinished = false
var attackerFinished = false


var defTimeout = null
var attackTimeout = null
var attackTimeoutSecond = null //kezdesnel hogy kesobb inditsa el

var cancelAttackerHealthBar = false
var cancelDefenderHealthBar = false

function simulateDefenderHealthBar() {      
	defTimeout = setTimeout(function() {  
  		console.log("SIMULATE-DEFENDER")
        defenderHealthPercent = calculatePercent(defenderHealthValues, indexDefender)
        if (defenderHealthPercent == 0){
        	clearTimeout(attackTimeout) // eleg csak ezt, a secondattackhealth csak egyszer indul el, az elso utesnel
        	showEndingMessage()
        }
        bars.eq(1).animate({width:defenderHealthPercent +"%"}, 800)   

        attackerSound.play()

        $("#right-character").css({
        	boxShadow: "rgba(240, 28, 28, 1.0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset"
        })

        $("#left-tool img").css({
        	opacity: 0.0,
        	visibility:"visible",
        	transform: "rotate(80deg)",
        }).animate({
        	opacity: 1.0,
        }, 400, function() {
        	$("#left-tool img").css({
        		opacity: 1.0,
        		visibility:"visible",
        		transform: "rotate(10deg)",
        	}).animate({opacity: 0.0}, 400)
        })



        setTimeout(function(){
			$("#right-character").css({
				boxShadow: "none"
        	})  	
        }, 300)

        document.getElementById("player2-percentage").innerHTML = defenderHealthPercent + "%";

        indexDefender++;               
        if (indexDefender < defenderHealthValuesLength - 1) {     
        	simulateDefenderHealthBar();          
        }
        else {
        	defenderFinished = true
        	console.log(defenderFinished)
        }         



	}, 2000)

}




function simulateAttackerHealthBar() {      
	attackTimeout = setTimeout(function() {  
  	  	console.log("SIMULATE-ATTACKER")
        attackerHealthPercent = calculatePercent(attackerHealthValues, indexAttacker)
        if (attackerHealthPercent == 0){ //ha egy csapas vagyunk az ellenfelnek 
        	clearTimeout(defTimeout)
        	showEndingMessage()
        }
        bars.eq(0).animate({width:attackerHealthPercent +"%"}, 800) 
        defenderSound.play()
        $("#left-character").css({
        	boxShadow: "rgba(240, 28, 28, 1.0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset"
        })  


        $("#right-tool img").css({
        	opacity: 0.0,
        	visibility:"visible",
        	transform: "rotate(-80deg)",
        }).animate({
        	opacity: 1.0,
        }, 400, function() {
        	$("#right-tool img").css({
        		opacity: 1.0,
        		visibility:"visible",
        		transform: "rotate(-10deg)",
        	}).animate({opacity: 0.0}, 400)
        })


        setTimeout(function(){
			$("#left-character").css({
				boxShadow: "none"
        	})  	
        }, 300)
        document.getElementById("player1-percentage").innerHTML = attackerHealthPercent + "%";

        indexAttacker++;               
        if (indexAttacker < attackerHealthValuesLength - 1) {     
        	simulateAttackerHealthBar();          
        }  
        else {
        	attackerFinished = true
        	console.log(attackerFinished)
        }                        
	}, 2000)

}






function calculatePercent(arrayOfHealthValues, currentIndex){
    var firstElement = arrayOfHealthValues[0];
    var length = arrayOfHealthValues.length
    if (currentIndex < length - 1){
        var nextElement = arrayOfHealthValues[currentIndex + 1];
        var healthPercent = (nextElement / firstElement) * 100;

        healthPercent = Math.round(healthPercent);
        console.log(healthPercent);

        return healthPercent;
    }

    return 0 

}



var interval = setInterval(function(){
	if (attackerFinished && defenderFinished){
		console.log(winner.username) //kiiratjuk a winnert
		showEndingMessage()
		clearInterval(interval)
	}
}, 1000)

// ----------


function showEndingMessage(){
	if (winner.username == "{{current_character}}"){
		document.getElementById("result-message").innerHTML = "Győztél"
		document.getElementById("gained-honor-text").innerHTML = gainedHonor
	}
	else{
		document.getElementById("result-message").innerHTML = "Vesztettél"
		document.getElementById("gained-honor-text").innerHTML = "-" + lostHonor

	}

	$(".cover").css("display", "flex");
	$("#skip-button-container").css("display", "none")
}


$(".cover").on("click", function(event){
	if(event.target !== this){
		return
	}
	console.log("elrejt")
	$(".cover").css("display", "none")
	setTimeout(function(){
		try {
			var url = "{% url 'game:arena' %}"
			var win = window.location.replace(url) 
			win.focus()
		}
		catch(error){
			console.log(error)
		}

	}, 100) // hogy lehessen hallani a hangot
})


</script>



{% endblock %}